<!--<span *ngIf="items">{{items.length}}</span>
<span *ngIf="num">
</span>-->
<style>
  table,
  th,
  td {
    text-align: center;
    vertical-align: middle !important;
  }
</style>
<div class="col-md-1"></div>
<div class="col-md-10">
  <h1>TALESBOOK V2
    <img src="http://res.cloudinary.com/dd5oaoj8c/image/upload/e_trim/h_39/v1497192738/drq250r5oxd5xqptx5si.png"/>
  </h1>
  <form class="form-inline">
    <div class="form-group">
      <label for="name">검색어</label>
      <input type="text" class="form-control" name="name" id="name" [(ngModel)]="name" placeholder="아이템 이름">
    </div>
    <button (click)="getItemsByName()" class="btn btn-default">검색</button>
  </form>
  <h4 *ngIf="items">{{items.length}} / {{itemsFullSize}}</h4>
  <div class="table-responsive" style="padding: 15px 15px 15px;border-color: #2b86c3;border-style: solid;border-width: 1px;border-radius: 4px 4px 4px 4px; margin-top: 20px;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>이름(타입)</th>
          <th>요구능력치</th>
          <th>찌르기</th>
          <th>베기</th>
          <th>물리방어</th>
          <th>마법공격</th>
          <th>마법방어</th>
          <th>명중</th>
          <th>회피</th>
          <th>민첩</th>
          <th>크리티컬</th>
          <th>딜레이</th>
          <th>합성횟수</th>
          <th>이미지</th>
        </tr>
      </thead>
      <tbody *ngIf="!items || items.length == 0">
        <tr *ngIf="!items">
          <td colspan="15" style="text-align: center">검색해 봅시다.</td>
        </tr>
        <tr *ngIf="items && items.length == 0" style="text-align: center">
          <td colspan="15" style="text-align: center">결과가 없습니다.</td>
        </tr>
      </tbody>
      <tbody *ngIf="items">
        <tr *ngFor="let item of items; let idx = index;">
          <th scope="row">{{idx+1}}</th>
          <td>{{item.NAME}}<br/>({{item.TYPE}})</td>
          <td>{{item.REQUIREMENT}}</td>
          <td>{{item.STAB}}</td>
          <td>{{item.HACK}}</td>
          <td>{{item.DEFENCE}}</td>
          <td>{{item.MATTACK}}</td>
          <td>{{item.MDEFENCE}}</td>
          <td>{{item.ACCURACY}}</td>
          <td>{{item.AGILITY}}</td>
          <td>{{item.DEXTERITY}}</td>
          <td>{{item.CRITICAL}}</td>
          <td>{{item.DELAY}}</td>
          <td>{{item.COMPOSE}}</td>
          <td><img height="70px" [src]="item.IMAGE_TRIMMED()" /></td>
        </tr>
      </tbody>
    </table>

    <div>
      <button *ngIf="items && items.length < itemsFullSize" (click)="getMoreItemsByName()" class="btn btn-primary btn-default"
        style="width:80%; display: block; margin: 0 auto;"><span class="glyphicon glyphicon-align-left"></span> 더 보기 <span class="badge">{{itemsFullSize - items.length}}개가 더 있어요</span></button>
    </div>
  </div>
  <h1>Mistral, 미구엘 레아르</h1>
</div>
<div class="col-md-1"></div>