<!DOCTYPE html>
<html>
  <head>
	<meta property="og:type" content="article">
	<meta property="og:title" content="TalesBook">
	<meta property="og:site_name" content="talesbook">
	<meta property="og:url" content="talesweaver.ga">
	<meta property="og:image" content="http://res.cloudinary.com/dd5oaoj8c/image/upload/q_60/v1497849443/book-758384_640_qcz66w.jpg">
	<meta property="article:published_time" content="2017.06.18">
	<meta property="article:author" content="https://500px.com/hori_one">
    <title>TalesBookV2</title>
    <%= csrf_meta_tags %>
  </head>
  <body>

	<app-home>Loading…</app-home>

  <script type="text/javascript" src="/app/inline.bundle.js"></script>
  <script type="text/javascript" src="/app/polyfills.bundle.js"></script>
  <script type="text/javascript" src="/app/styles.bundle.js"></script>
  <script type="text/javascript" src="/app/vendor.bundle.js"></script>
  <script type="text/javascript" src="/app/main.bundle.js"></script>
  <script type="text/javascript" src="/assets/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css">
</body>
</html>
