<!DOCTYPE html>
<html>
  <head>
    <title>TalesBookV2</title>
    <%= csrf_meta_tags %>
  </head>
  <body>

	<app-home>Loading…</app-home>

  <script type="text/javascript" src="/app/inline.bundle.js"></script>
  <script type="text/javascript" src="/app/polyfills.bundle.js"></script>
  <script type="text/javascript" src="/app/styles.bundle.js"></script>
  <script type="text/javascript" src="/app/vendor.bundle.js"></script>
  <script type="text/javascript" src="/app/main.bundle.js"></script>
  <script type="text/javascript" src="/assets/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css">
</body>
</html>
